.home {

}
.home >.container {
  padding: 0 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
}
.home >.container >.left {
  width: 260px;
  background: rgba(9,14,31,.5);
  float: left;
  padding: 15px 0;
  height: 700px;
}
.home >.container >.left .round {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 2px solid #029ce7;
  margin: auto;
  background: -webkit-radial-gradient(rgba(0,173,255,0),rgba(0,173,255,.05), rgba(0,173,255,.25)); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(rgba(0,173,255,0),rgba(0,173,255,.05), rgba(0,173,255,.25)); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(rgba(0,173,255,0),rgba(0,173,255,.05), rgba(0,173,255,.25)); /* Firefox 3.6 - 15 */
  background: radial-gradient(rgba(0,173,255,0),rgba(0,173,255,.05), rgba(0,173,255,.25)); /* 标准的语法 */
  margin-bottom: 30px;
  position: relative;
}
.home >.container >.left .round:before {
  content: '';
  border: 2px solid #fff;
  display: inline-block;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  transform-origin:50% 50%;
  animation: lianyione 4s infinite linear;
  z-index: 1;
  box-sizing: border-box;
}
.home >.container >.left .round:after {
  content: '';
  border: 2px solid #fff;
  display: inline-block;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  animation: lianyitwo 4s infinite linear 2s;
  animation-fill-mode:backwards;
  transform-origin:50% 50%;
  z-index: 1;
  box-sizing: border-box;
}
@keyframes lianyione{
  0% { transform: scale(0); opacity: .3 }
  100% {transform: scale(1.5);opacity: 0}
}
@keyframes lianyitwo{
  0% { transform: scale(0); opacity: .3 }
  100% {transform: scale(1.5);opacity: 0}
}
.home >.container >.left .round div {
  text-align: center;
  margin-top: 20px;
}
.home >.container >.left .round span {
    font-family: 'DINC';
    color: #ff5a00;
    font-size: 54px;
}
.home >.container >.left .round i {
    color: #ff5a00;
    font-size: 30px;
    font-family: 'DINC';
}
.home >.container >.left .round p {
  color: #00adff;
  font-size: 14px;
  text-align: center;
}
.home >.container >.left .box {
  padding: 0 15px;
}
.home >.container >.left .item {
  background: rgba(0,170,249,.1);
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  height: 100px;
}
.home >.container >.left .item:last-child{
  margin-bottom: 0;
}
.home >.container >.left .item .info {
  height: 20px;
  margin-bottom: 15px;
}
.home >.container >.left .item .info i {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 3px;
  background-size: cover;
  background-repeat: no-repeat;
}
.home >.container >.left .item .info p {
  font-size: 18px;
  color: #00adff;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  float: left;
  display: inline-block;
}
.home >.container >.left .item .num {
  text-align: right;
}
.home >.container >.left .item .num span {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  font-family: 'DINC'
}
.home >.container >.left .item .num i {
  font-size: 14px;
  color: #fff;
}
.home >.container >.center {
  width: calc(100% - 45% - 260px - 40px);
  height: 700px;
  background: rgba(9,14,31,.5);
  float: left;
  margin-left: 20px;
  padding: 15px 0;
  padding-bottom: 0;
}
.home >.container >.center .chart-1 {
  width: 100%;
  height: 275px;
}
.home >.container >.center .chart-2 {
  width: 100%;
  height: 300px;
}
.home >.container >.right{
  width: 45%;
  float: left;
  margin-left: 20px;
}
.home >.container >.right >.top {
  width: 100%;
  background: rgba(9,14,31,.5);
  margin-bottom: 20px;
  padding: 15px 0;
  height: 320px;
}
.home >.container >.right >.top .box {
  overflow-x: scroll;
  margin-left: 15px;
}
.home >.container >.right >.top .box >div {
  white-space: nowrap;
  padding-bottom: 10px;
}
.home >.container >.right >.top .item {
  background: rgba(0,170,249,.1);
  width: 170px;
  display: inline-block;
  border-radius: 5px;
  overflow:hidden;
  position: relative;
  margin-right: 10px;
}
.home >.container >.right >.top .item .hd {
  padding: 11px 0;
  background: rgba(0,170,249,.2);
  padding-left: 15px;
}
.home >.container >.right >.top .item .hd p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3px;
}
.home >.container >.right >.top .item .hd span {
  font-size: 14px;
  color: #00adff;
}
.home >.container >.right >.top .item .bd {

}
.home >.container >.right >.top .item .bd ul {
  padding: 10px 0 40px 0;
}
.home >.container >.right >.top .item .bd li {
  overflow:auto;
  padding: 5px 15px;
}
.home >.container >.right >.top .item .bd i {
  font-size: 14px;
  color: #00adff;
  float: left;
}
.home >.container >.right >.top .item .bd span {
  font-family: 'DINC';
  font-size: 16px;
  color: #fff;
  float: right;
}
.home >.container >.right >.top .item .bd span.num {
  font-size: 20px;
}
.home >.container >.right >.top .item .ft {
  background: #0b3156;
  height: 30px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.home >.container >.right >.top .item .ft:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -25px;
  background-image: url(../static/icon-15.png);
}
.home >.container >.right >.top .item .ft span{
  color: #00adff;
  font-size: 14px;
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
}
.home >.container >.right >.top .item .ft i{
  width: 25px;
  display: inline-block;
  background-image: url(../static/icon-2.png);
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  height: 30px;
}
.home >.container >.right >.top .item .ft:hover span{
  color: #fff;
}
.home >.container >.right >.bottom {
  width: 100%;
  background: rgba(9,14,31,.5);
  padding: 15px 0;
  height: 360px;
}
.home >.container >.right >.bottom .box {
  text-align: center;
  margin-bottom: 20px;
}
.home >.container >.right >.bottom .box .item {
  background: rgba(0,170,249,.1);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 10px;
}
.home >.container >.right >.bottom .box .item:last-child{
  margin-right: 0;
}
.home >.container >.right >.bottom .box .item i {
  font-size: 16px;
  color: #00adff;
  line-height: 30px;
  height: 30px;
  float: left;
  display: inline-block;
  margin-right: 20px;
}
.home >.container >.right >.bottom .box .item span {
  font-size: 26px;
  line-height: 30px;
  height: 30px;
  float: left;
  display: inline-block;
  color: #ff5a00;
  font-family: 'DINC'
}
.home >.container >.right >.bottom .m-table {
  padding: 0 15px;
}

/* 告警设置页面 */
.mgt-alarm {

}
.mgt-alarm >.box-1 {
  background: rgba(9,14,31,.5);
  padding: 15px 0;
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.mgt-alarm >.box-2 {
  background: rgba(9,14,31,.5);
  padding: 15px 0;
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.mgt-alarm .control-bar {
  padding: 0 15px;
  margin-bottom: 25px;
  overflow: auto;
}
.mgt-alarm .control-bar .m-search {
  float: left;
}
.mgt-alarm .control-bar .m-icon-btn {
  float: right;
}
.mgt-alarm .m-table {
  padding: 0 15px;
  margin-bottom: 15px;
}
.mgt-alarm .popup-1 {
  display: none;
}
.mgt-alarm .popup-1 .bd{
  padding: 20px 35px;
}
.mgt-alarm .popup-1 .m-select {
  margin-bottom: 10px;
}
.mgt-alarm .popup-1 .m-select:last-child{
  margin-bottom: 0;
}
.mgt-alarm .popup-1 .m-double-select {
  margin-bottom: 10px;
}
.mgt-alarm .popup-1 .m-double-select:last-child {
  margin-bottom: 0;
}
.mgt-alarm .popup-1 .m-input {
  margin-bottom: 10px;
}
.mgt-alarm .popup-1 .m-input:last-child {
  margin-bottom: 0;
}

.mgt-alarm .popup-2 {
  display: none;
}
.mgt-alarm .popup-2 .bd{
  padding: 20px 35px;
}
.mgt-alarm .popup-2 .m-select {
  margin-bottom: 10px;
}
.mgt-alarm .popup-2 .m-select:last-child{
  margin-bottom: 0;
}
.mgt-alarm .popup-2 .m-double-select {
  margin-bottom: 10px;
}
.mgt-alarm .popup-2 .m-double-select:last-child {
  margin-bottom: 0;
}
.mgt-alarm .popup-2 .m-input {
  margin-bottom: 10px;
}
.mgt-alarm .popup-2 .m-input:last-child {
  margin-bottom: 0;
}
.mgt-alarm .popup-2 .m-title-3 {
  margin-bottom: 10px;
}
.mgt-alarm .popup-2 .m-marked-title {
  margin-bottom: 5px;
  margin-top: 20px;
}


/* 区域管理 */
.mgt-area {

}
.mgt-area >.box-1 {
  background: rgba(9,14,31,.5);
  padding: 15px 0;
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.mgt-area .control-bar {
  padding: 0 15px;
  overflow: auto;
  margin-bottom: 25px;
}
.mgt-area .control-bar .m-search {
  float: left;
}
.mgt-area .control-bar .m-icon-btn {
  float: right;
}
.mgt-area .m-table {
  padding: 0 15px;
  margin-bottom: 15px;
}
.mgt-area .popup-1 {
  display: none;
}
.mgt-area .popup-1 .bd{
  padding: 20px 35px;
}
.mgt-area .popup-1 .m-select {
  margin-bottom: 10px;
}
.mgt-area .popup-1 .m-select:last-child{
  margin-bottom: 0;
}
.mgt-area .popup-1 .m-double-select {
  margin-bottom: 10px;
}
.mgt-area .popup-1 .m-double-select:last-child {
  margin-bottom: 0;
}
.mgt-area .popup-1 .m-input {
  margin-bottom: 10px;
}
.mgt-area .popup-1 .m-input:last-child {
  margin-bottom: 0;
}
.mgt-area .popup-1 .m-checkbox {
  margin-bottom: 10px;
}


/* 设备管理 */
.mgt-equipment {

}
.mgt-equipment >.box-1 {
  background: rgba(9,14,31,.5);
  padding: 15px 0;
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.mgt-equipment .control-bar {
  padding: 0 15px;
  overflow: auto;
  margin-bottom: 25px;
}
.mgt-equipment .control-bar .m-search {
  float: left;
}
.mgt-equipment .control-bar .m-icon-btn {
  float: right;
}
.mgt-equipment .m-table {
  padding: 0 15px;
  margin-bottom: 15px;
}
.mgt-equipment .popup-1 {
  display: none;
}
.mgt-equipment .popup-1 .bd{
  padding: 20px 35px;
}
.mgt-equipment .popup-1 .m-select {
  margin-bottom: 10px;
}
.mgt-equipment .popup-1 .m-select:last-child{
  margin-bottom: 0;
}
.mgt-equipment .popup-1 .m-input {
  margin-bottom: 10px;
}
.mgt-equipment .popup-1 .m-input:last-child {
  margin-bottom: 0;
}


/* 用户管理 */
.mgt-user {

}
.mgt-user >.box-1 {
  background: rgba(9,14,31,.5);
  padding: 15px 0;
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
}
.mgt-user .control-bar {
  padding: 0 15px;
  overflow: auto;
  margin-bottom: 25px;
}
.mgt-user .control-bar .m-search {
  float: left;
}
.mgt-user .control-bar .m-icon-btn {
  float: right;
}
.mgt-user .m-table {
  padding: 0 15px;
  margin-bottom: 15px;
}
.mgt-user .popup-1 {
  display: none;
}
.mgt-user .popup-1 .bd{
  padding: 20px 35px;
}
.mgt-user .popup-1 .m-select {
  margin-bottom: 10px;
}
.mgt-user .popup-1 .m-select:last-child{
  margin-bottom: 0;
}
.mgt-user .popup-1 .m-input {
  margin-bottom: 10px;
}
.mgt-user .popup-1 .m-input:last-child {
  margin-bottom: 0;
}

/* 区域信息页 */
.info-area {

}
.info-area .box-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
  overflow: auto;
}
.info-area .box-1 .item{
  height: 100px;
  border-radius: 5px;
  background: -webkit-linear-gradient(180deg, red, blue); 
  background: -o-linear-gradient(180deg, red, blue); 
  background: -moz-linear-gradient(180deg, red, blue); 
  background: linear-gradient(90deg, rgba(0,170,249,.5), rgba(28,107,215,.5)); 
  width: calc((100% - 200px) / 5 );
  float: left;
  margin-right: 50px;
  padding: 15px;
  position: relative;
}
.info-area .box-1 .item:last-child {
  margin-right: 0;
}
.info-area .box-1 .item >span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
.info-area .box-1 .item >div {
  text-align: right;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  display:table-cell; 
  vertical-align:bottom;
  padding: 0 15px;
}
.info-area .box-1 .item >div.numerical i {
  display: inline-block;
  color: #fefefe;
  font-size: 50px;
  font-family: 'DINC';
}
.info-area .box-1 .item >div.numerical p {
  display: inline-block;
  font-size: 16px;
  color: #fefefe;
}
.info-area .box-1 .item >div.normal {
  height: 36px;
}
.info-area .box-1 .item >div.normal i {

}
.info-area .box-1 .item >div.normal p {
  display: inline-block;
  font-size: 30px;
  color: #00ff7e;
  position: relative;
}
.info-area .box-1 .item >div.normal p:before {
  content: '';
  display:inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -38px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../static/icon-16.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.info-area .box-1 .item >div.warning {
  height: 36px;
}
.info-area .box-1 .item >div.warning i {

}
.info-area .box-1 .item >div.warning p {
  display: inline-block;
  font-size: 30px;
  color: #ff3346;
  position: relative;
}
.info-area .box-1 .item >div.warning p:before {
  content: '';
  display:inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -38px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../static/icon-17.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.info-area .box-2 {
  background: rgba(9,14,31,.5);
  width: calc(100% - 40px);
  margin: auto;
  padding: 15px 0;
  margin-bottom: 20px;
  overflow: auto;
}
.info-area .box-2 >.left {
  width: 50%;
  float: left;
  padding: 0 20px;
}
.info-area .box-2 >.left .filter {
  height: 40px;
  margin-bottom: 20px;
}
.info-area .box-2 >.left .filter .m-switch-2 {
  float: left;
}
.info-area .box-2 >.left .filter .m-input {
  float: right;
  width: 150px;
  margin-right: 30px;
}
.info-area .box-2 >.left .filter .m-select-qujian {
  float: right;
  width: 220px;
}
.info-area .box-2 >.left .filter .m-select-qujian > .m-select {
  float: left;
  width: calc((100% - 35px) / 2);
}
.info-area .box-2 >.left .filter .m-select-qujian > .m-select label {
  width: 100%;
}
.info-area .box-2 >.left .filter .m-select-qujian > span {
  float: left;
  width: 35px;
  font-size: 16px;
  color: #00adff;
  line-height: 40px;
  text-align: center;
}
.info-area .box-2 >.left .filter .m-input label {
  width: 100%;
}
.info-area .box-2 >.left .chart-1 {
  width: 100%;
  height: 440px;
}
.info-area .box-2>.right {
  width: 50%;
  float: left;
  padding: 0 20px;
}
.info-area .box-2>.right .m-table {
  margin-bottom: 15px;
}

.info-area .box-3 {
  background: rgba(9,14,31,.5);
  width: calc(100% - 40px);
  margin: auto;
  margin-bottom: 20px;
  padding: 15px 0;
}
.info-area .box-3 .m-table {
  padding: 0 15px;
  margin-bottom: 15px;
}

.info-area .box-4 {
  background: rgba(9,14,31,.5);
  width: calc(100% - 40px);
  margin: auto;
  overflow: auto;
  padding: 15px 0;
  margin-bottom: 20px;
}
.info-area .box-4 >.left {
  width: 50%;
  float: left;
  padding: 0 20px;
}
.info-area .box-4 >.right {
  width: 50%;
  float: left;
  padding: 0 20px;
}
.info-area .box-4 h5 {
  padding-left: 13px;
  position: relative;
  margin-bottom: 10px;
}
.info-area .box-4 h5:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 15px;
  background: #ff5a00;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.info-area .box-4 h5 span {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.info-area .box-4 h5 i {
  font-size: 16px;
  color: #00adff;
}
.info-area .box-4 .statistical {
  overflow: auto;
  margin-bottom: 20px;
}
.info-area .box-4 .statistical .item {
  width: calc((100% - 40px) / 3 );
  height: 40px;
  background: rgba(0,170,249,.1);
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  padding: 0 15px;
}
.info-area .box-4 .statistical .item:last-child {
  margin-right: 0;
}
.info-area .box-4 .statistical .item span {
  color: #00adff;
  font-size: 14px;
  float: left;
  line-height: 40px;
}
.info-area .box-4 .statistical .item div {
  float: right;
  padding-top: 4px;
}
.info-area .box-4 .statistical .item i {
  color: #ff5a00;
  font-size: 26px;
  display: inline-block;
  font-family: 'DINC';
  display: inline-block;
}
.info-area .box-4 .statistical .item p {
  display: inline-block;
  font-size: 14px;
  color: #00adff;
} 
.info-area .box-5 {
  background: rgba(9,14,31,.5);
  width: calc(100% - 40px);
  margin: auto;
  overflow: auto;
  padding: 15px 0;
  margin-bottom: 20px;
}
.info-area .box-5 >.left {
  width: 50%;
  float: left;
  padding: 0 20px;
  overflow: auto;
}
.info-area .box-5 >.right {
  width: 50%;
  float: left;
  padding: 0 20px;
}
.info-area .box-5 .m-input {

}
.info-area .box-5 .m-input >span {
  width: 120px;
  padding-right: 10px;
}
.info-area .box-5 .m-input >label {
  width: calc(100% - 120px);
  border: 1px solid #125784;
  background: rgba(10,73,224,.1);
}
.info-area .box-5 .left .m-input:nth-child(1){
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.info-area .box-5 .left .m-input:nth-child(2){
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
.info-area .box-5 .left .m-input:nth-child(3){
  width: 50%;
  float: left;
  margin-bottom: 10px;
}
.info-area .box-5 >.right .m-input {
  width: calc(100% - 200px);
  float: left;
}
.info-area .box-5 >.right button {
  height: 40px;
  width: 150px;
  background: #ffd800;
  color: #0d233e;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  float: right;
  cursor: pointer;
}
.info-area .box-5 >.right button:hover {
  background: #e8c505;
}