/* CSS Reset */
* {
  box-sizing: border-box;
  font-family:Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
*, *:before, *:after { max-height: 100000px }
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form {
  margin: 0;
}
ul,ol,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6, b, i {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
img {
  font-size: 0;
  border: 0;
}
a {
  color: #000;
  text-decoration: none;
}
input, select, textarea, button, option {
  outline: none;
}
::-webkit-input-placeholder { 
  color:#066491;
}
:-moz-placeholder { 
  color:#066491;
}
::-moz-placeholder { 
  color:#066491;
}
:-ms-input-placeholder {
  color:#066491;
}

::-webkit-scrollbar{ 
  width: 8px; 
  height: 8px; 
  background-color: transparent; 
} 
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track{ 
  background-color: transparent; 
} 
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb{ 
  border-radius: 2px; 
  background-color: #00adff; 
}
@font-face{
  font-family:"DINC";
  src:url('../font/DINCond.ttf');
}

.sky-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #101a3f;
  top: 0;
  z-index: 1;
  transform: translateX();
}
.page {
  position: relative;
  z-index: 2;
}

/* 头部 */
.m-head {
  height: 80px;
  width: 100%;
  background: rgba(6,12,32,.7);
  padding: 0 20px;
  position: relative;
  z-index: 99;
}
.m-head .logo {
  width: 700px;
  float: left;
}
.m-head .logo a{
  float: left;
  height: 80px;
}
.m-head .logo a img{

}
.m-head .logo h1{
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
  float: left;
  line-height: 80px;
}
.m-head .info {
  float: right;
}
.m-head .info .user {
  float: right;
  position: relative;
  height: 80px;
  padding-top: 20px;
  margin-right: 20px;
}
.m-head .info .user >div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #eee;
  border: 2px solid #fff;
  float: left;
  overflow: hidden;
}
.m-head .info .user >div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.m-head .info .user >a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  float: left;
  height: 35px;
  padding-right: 25px;
  position: relative;
  line-height: 35px;
  padding-left: 7px;
  cursor: pointer;
}
.m-head .info .user >a:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid; 
  border-color: #fff transparent transparent transparent;
  margin-right: 5px;
  position: absolute;
  top: 18px;
  right: 10px;
  margin: auto;
}
.m-head .info .user:hover ul.folding{
  display: block;
}
.m-head .info ul.folding {
  position: absolute;
  right: 0;
  top: 80px;
  width: 170px;
  border: 1px solid #095280;
  display: none;
}
.m-head .info ul.folding:hover {
  display: block;
}
.m-head .info ul.folding a {
  display: inline-block;
  background: rgba(0,37,65,.9);
  padding: 12px 0;
  padding-left: 10px;
  width:100%;
  float: left;
  border-bottom: 1px solid #095280;
  cursor: pointer;
}
.m-head .info ul.folding a:last-child {
  border-bottom: none;
}
.m-head .info ul.folding a:hover {
  background: #095280;
}
.m-head .info ul.folding i {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
}
.m-head .info ul.folding span {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  float: left;
  line-height: 25px;
  height: 25px;
}
.m-head .info .setting {
  width: 60px;
  display: inline-block;
  float: right;
  position: relative;
  height: 80px;
  padding-top: 20px;
}
.m-head .info .setting:hover ul.folding{
  display: block;
}
.m-head .info .setting >a {
  background-image: url(../static/nav-1.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 60px;
  height: 35px;
  background-size: 35px 35px;
  background-position: left center;
  position: relative;
  cursor: pointer;
}
.m-head .info .setting >a:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid; 
  border-color: #fff transparent transparent transparent;
  margin-right: 5px;
  position: absolute;
  top: 18px;
  right: 10px;
  margin: auto;
}
.m-head .info i.xiugai {
  background-image: url("../static/nav-2.png");
}
.m-head .info i.tuichu {
  background-image: url("../static/nav-3.png");
}
.m-head .info i.quyu {
  background-image: url("../static/nav-4.png");
}
.m-head .info i.shebei {
  background-image: url("../static/nav-5.png");
}
.m-head .info i.yonghu {
  background-image: url("../static/nav-6.png");
}
.m-head .info i.gaojing {
  background-image: url("../static/nav-7.png");
}

/* 标题 */
.m-title {
  height: 30px;
  white-space:nowrap;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
}
.m-title i {
  width: 30px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.m-title a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.m-title div {
  width: 100%;
  display: inline-block;
  background-image: url(../static/icon-13.png);
  background-repeat: repeat-x;
  background-position: center;
  height: 10px;
}

/* 标题2 */
.m-title-2 {
  height: 30px;
}
.m-title-2 a {
  font-size: 16px;
  color: #0f152a;
  font-weight: bold;
  background: #00adff;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  padding: 0 5px 0 20px;
  position: relative;
}
.m-title-2 a:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 30px;
  position: absolute;
  right: -10px;
  background-image: url(../static/icon-14.png);
  background-size: auto 30px;
}

/* 标题 */
.m-title-3 {
  height: 30px;
  white-space:nowrap;
  overflow: hidden;
  width: 100%;
}
.m-title-3 a {
  font-size: 14px;
  font-weight: bold;
  color: #ffea00;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.m-title-3 div {
  width: 100%;
  display: inline-block;
  background-image: url(../static/icon-13.png);
  background-repeat: repeat-x;
  background-position: center;
  height: 10px;
}

/* m-table */
.m-table {

}
.m-table table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(0,173,253,.6);
}
.m-table thead {

}
.m-table thead tr{
  background: #076195;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.m-table thead th{
  height: 40px;
}
.m-table tbody {

}
.m-table tbody tr{
  height: 40px;
}
.m-table tbody tr:nth-child(2n){
  background: rgba(8,97,147,.2);
}
.m-table tbody tr:hover {
  background: rgba(8,97,147,.5);
}
.m-table tbody td{
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.m-table tbody td.red {
  color: #ff5a00;
}
.m-table tbody td.green {
  color: #08e73d;
}
.m-table tbody td a.edit {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  cursor: pointer;
}
.m-table tbody td a.edit:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../static/icon-6.png);
  float: left;
  margin-right: 5px;
}
.m-table tbody td a.edit span {
  color: #fff;
  float: left;
  height: 25px;
  line-height: 25px;
}
.m-table tbody td a.edit:hover {
  opacity: .7;
}
.m-table tbody td a.delete {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  cursor: pointer;
}
.m-table tbody td a.delete:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../static/icon-5.png);
  float: left;
  margin-right: 5px;
}
.m-table tbody td a.delete span {
  color: #fff;
  float: left;
  height: 25px;
  line-height: 25px;
}
.m-table tbody td a.delete:hover {
  opacity: .7;
}
.m-table tbody td a.to-view {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  cursor: pointer;
}
.m-table tbody td a.to-view:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../static/icon-18.png);
  float: left;
  margin-right: 5px;
}
.m-table tbody td a.to-view span {
  color: #fff;
  float: left;
  height: 25px;
  line-height: 25px;
}
.m-table tbody td a.to-view:hover {
  opacity: .7;
}

/* 分页 m-paging */
.m-paging {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.m-paging >div {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.m-paging .prev {
  width: 70px;
  height: 30px;
  border: 1px solid #125784;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  color: #00adff;
  background: rgba(0,73,114,.1);
}
.m-paging .prev:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #00adff transparent transparent;
  margin-right: 5px;
}
.m-paging .next {
  width: 70px;
  height: 30px;
  border: 1px solid #125784;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  color: #00adff;
  background: rgba(0,73,114,.1);
} 
.m-paging .next:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent #00adff;
  margin-left: 5px;
}
.m-paging .next:hover ,.m-paging .prev:hover{
  background: #00adff;
  color: #fff;
  border-color: #00adff;
}
.m-paging .next:hover:after {
  border-color: transparent transparent transparent #fff;
}
.m-paging .prev:hover:before {
  border-color: transparent #fff transparent transparent;
}
.m-paging >div div {    
  display: inline-block;
  padding: 0 8px;
  overflow: auto;
  margin: auto;
  position: relative;
  vertical-align:middle;

}
.m-paging >div a {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  background: rgba(0,173,255,.2);
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  margin:0 3px;
  cursor: pointer;
  color: #fff;
  transition: background .2s,color .2s;
}
.m-paging >div a:hover {
  background:#00adff;
  color: #fff;
}
.m-paging >div a.active {
  background: #00adff;
  color: #fff;
  border-color: #00adff;
}
.m-paging >div span {
  display: inline-block;
  float: left;
  width: 20px;
  height: 30px;
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  color: #c5cdd8;
}

/* 搜索框 */
.m-search {
  width: 380px;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}
.m-search i {
  width: 30px;
  height: 30px;
  background-image: url(../static/icon-4.png);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
}
.m-search input {
  height: 38px;
  width: calc(100% - 90px);
  box-sizing: border-box;
  border:1px solid #125784;
  border-right: none;
  background: rgba(10,73,114,.1);
  float: left;
  border-radius: 5px 0 0 5px;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  padding-left: 35px;
}
.m-search button {
  width: 90px;
  height: 38px;
  float: left;
  font-size: 16px;
  color: #fff;
  background: #00aaf9;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.m-search button:hover {
  background: #0c94d3;
}

/* 弹出框 */
.m-popup-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  transition: transform .5s;
}
.m-popup {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  max-height: 90vh;
  transform: translate(-50%, -50%);
}
.m-popup >.hd {
  height: 55px;
  background: #08243f;
  border-bottom: 1px solid #00adff;
  position: relative;
  padding-left: 15px;
}
.m-popup >.hd span {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-left: 15px;
  height: 54px;
  line-height: 54px;
  display: inline-block;
}
.m-popup >.hd span:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 16px;
  background: #ffea00;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.m-popup >.hd .close {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-image: url(../static/icon-3.png);
  background-size:30px 30px;
  background-repeat: no-repeat;
  background-position: center; 
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.m-popup >.hd .close:hover {
  background-color: rgba(0,170,249,.1);
}
.m-popup >.bd {
  background: rgba(7,51,86,.9);
  padding: 0 35px;
  max-height: calc(90vh - 55px - 80px);
  overflow-y: scroll;
}
.m-popup >.ft {
  height: 80px;
  padding-top: 20px;
  background: rgba(13,36,65,.9); 
  text-align: center;
}
.m-popup >.ft button {
  display: inline-block;
  width: 150px;
  height: 40px;
  background: #00adff;
  border: none;
  color: #0d233e;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}
.m-popup >.ft button.cancel {
  background: #00adff;
}
.m-popup >.ft button.cancel:hover {
  background: rgba(0,173,255,.8);
}
.m-popup >.ft button.confirm {
  background: #ffd800;
}
.m-popup >.ft button.confirm:hover {
  background: rgba(255,216,0,.8);
}

/* 输入框 */
.m-input {
  overflow: auto;
}
.m-input >span{
  width: 150px;
  float: left;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.m-input >label {
  width: calc(100% - 150px);
  float: left;
  display: block;
  height: 38px;
  background: rgba(3,32,56,.7);
  border-radius: 5px;
  padding:0 10px;
  position: relative;
}
.m-input >label input {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  vertical-align:middle;
  height: 100%;
}
.m-input.date label:after {
  content: '';
  display: inline-block;
  background-image: url(../static/icon-19.png);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}

/* 文本框 */
.m-textarea {
  overflow: auto;
}
.m-textarea >span{
  width: 150px;
  float: left;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.m-textarea >label {
  width: calc(100% - 150px);
  float: left;
  display: block;
  background: rgba(3,32,56,.7);
  border-radius: 5px;
  padding: 5px 10px;
  height: 90px;
}
.m-textarea >label textarea {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  height: 80px;
  resize:none;
  line-height: 20px;
  box-sizing: border-box;
  padding: 0;
}

/* 选择框 */
.m-select {
  height: 38px;
  position: relative;
  z-index: 9;
}
.m-select >span {
  width: 150px;
  float: left;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.m-select >label {
  width: calc(100% - 150px);
  float: left;
  display: block;
  height: 38px;
  position: relative;
}
.m-select >label div {
  height: 38px;
  width: 100%;
  background: rgba(3,32,56,.7);
  border-radius: 5px;
  font-size: 14px;
  color: #066491;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 38px;
  position: relative;
  cursor: pointer;
}
.m-select >label div:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #00adff transparent transparent transparent;
  margin-left: 5px;
  position: absolute;
  top: 17px;
  right: 20px;
  margin: auto;
}
.m-select.selected >label div {
  color: #fff;
}
.m-select >label ul {
  height: 150px;
  width: 100%;
  background: #052743;
  position: absolute;
  top: 43px;
  border-radius: 5px;
  overflow-y: scroll;
  height: 0;
  transition: height .4s;
}
.m-select >label li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  cursor: pointer;
  color: #fff;
}
.m-select >label li:hover {
  background: #00adff;
  color: #0d233e;
}
.m-select >label input {

}
.m-select >label.active ul {
  height: 150px;
}

/* 温度区间 */
.m-double-select {
  overflow: auto;
}
.m-double-select span {
  width: 150px;
  float: left;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.m-double-select label {
  width: calc((100% - 150px -  50px) / 2);
  float: left;
  display: block;
  height: 38px;
  background: rgba(3,32,56,.7);
  border-radius: 5px;
  padding: 0 10px;
}
.m-double-select label input {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  vertical-align:middle;
  height: 100%;
}
.m-double-select i {
  display: inline-block;
  width: 50px;
  height: 38px;
  float: left;
  position: relative;
}
.m-double-select i:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #00adff;
}

/* 开关 */
.m-switch {
  overflow: auto;
}
.m-switch >span {
  width: 150px;
  float: left;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.m-switch >label {
  width: calc(100% - 150px);
  float: left;
  display: block;
  height: 38px;
}
.m-switch >label div {
  height: 20px;
  width: 100px;
  background: #04243e;
  display: inline-block;
  margin-top: 9px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.m-switch >label div a {
  display: inline-block;
  float: left;
  width: 50px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  background: #144267;
  color: #04243e;
  transition: left .2s,background .2s;
}
.m-switch >label.on div a{
  background: #ffea00;
  color: #04243e;
  left: 50px;
}
.m-switch-2 {
  height: 40px;
  display: inline-block;
  background: rgba(8,97,147,.15);
  color: #00adff;
  font-size: 18px;
}
.m-switch-2 a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  float: left;
  color: #00adff;
  cursor: pointer;
}
.m-switch-2 a.active {
  color: #fff;
  font-weight: bold;
  background: #076195;
}

/* 多选框 */
.m-checkbox {
  overflow: auto;
}
.m-checkbox >span {
  width: 150px;
  float: left;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.m-checkbox >div {
  width: calc(100% - 150px);
  float: left;
  padding-top: 7px;
  padding-bottom: 7px;
}
.m-checkbox >div a {
  height: 24px;
  float: left;
  width: 50%;
  display: table-cell;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.m-checkbox >div a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: #032038;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
}
.m-checkbox >div a.selected:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url(../static/icon-8.png);
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
}
.m-checkbox >div input {
  margin: 0;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  display: none;
}
.m-checkbox >div span {
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}

/* 面包屑 */
.m-bread {
  height: 38px;
  background: -webkit-linear-gradient(left,rgba(0,173,255,.2),rgba(0,173,255,0));
  background: -o-linear-gradient(right,rgba(0,173,255,.2),rgba(0,173,255,0));
  background: -moz-linear-gradient(right,rgba(0,173,255,.2),rgba(0,173,255,0));
  background: linear-gradient(to right, rgba(0,173,255,.2), rgba(0,173,255,0));
}
.m-bread p{
  font-size: 14px;
  color: #fff;
  line-height: 38px;
  padding-left: 30px;
}

/* 图标按钮 */
.m-icon-btn {
  border: 1px solid #076195;
  border-radius: 5px;
  background: rgba(10,73,114,.1);
  height: 40px;
  padding: 0 15px 0 8px;
  cursor: pointer;
}
.m-icon-btn i {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.m-icon-btn span {
  font-size: 16px;
  color: #fff;
  float: left;
  height: 25px;
  line-height: 25px;
}
.m-icon-btn.add i {
  background-image: url(../static/icon-7.png);
}
.m-icon-btn:hover {
  background: rgba(0,170,249,.1);
}

/* 醒目文字 */
.m-marked-title {
  text-align: center;
}
.m-marked-title >div {
  display: inline-block;
  position: relative;
  margin: auto;
}
.m-marked-title >div:before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url(../static/icon-9.png);
  position: absolute;
  left: 0;
  top: 0;
}
.m-marked-title>div:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url(../static/icon-10.png);
  position: absolute;
  right: 0;
  top: 0;
}
.m-marked-title>div span{
  display: inline-block;
  font-size: 16px;
  color: #ffea00;
  padding: 0 10px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
}
.m-marked-title>div span:before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url(../static/icon-11.png);
  position: absolute;
  left: 0;
  bottom: 0;
}
.m-marked-title>div span:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url(../static/icon-12.png);
  position: absolute;
  right: 0;
  bottom: 0;
}